* {
  color: white;
}

body {
  background-color: black;
  text-align: center;
}

a {
  color: aquamarine
  font-size: 16px;
}

span {
  text-align: right;
  color: gray;
}

h1 {
  font-family: Veranda;
  font-size: 50px;
}

h2 {
  font-family: Veranda;
  font-weight: 300;
  font-size: 42px;
}

p {
  font-family: Veranda;
  font-size: 21px;
  color: gray;
}
